<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STARK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <STARK.Properties.Settings>
            <setting name="Synthesizer_Command" serializeAs="String">
                <value>.tts</value>
            </setting>
            <setting name="Synthesizer_Volume" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Synthesizer_Rate" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Microphone_Buffer_Time" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="Microphone_Volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Media_Volume" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Loopback_Volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Standard_Volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Setup_Microphone_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setup_Standard_Output_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setup_Loopback_Output_SelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Interface_Theme_Accent" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Setup_SteamApps_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="Setup_Audio_Watch_Folder" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsVersion" serializeAs="String">
                <value>1.0.0</value>
            </setting>
        </STARK.Properties.Settings>
    </userSettings>
</configuration>