<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.9.1" targetFramework="net452" />
  <package id="Costura.Fody" version="1.3.3.0" targetFramework="net452" developmentDependency="true" />
  <package id="Fody" version="1.28.3" targetFramework="net452" developmentDependency="true" />
  <package id="LtGt" version="1.0.1" targetFramework="net452" />
  <package id="MahApps.Metro" version="1.3.0" targetFramework="net452" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net452" />
  <package id="NAudio" version="1.7.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="Sprache" version="2.2.0" targetFramework="net452" />
  <package id="YoutubeExplode" version="4.7.9" targetFramework="net452" />
  <package id="YoutubeSearch.dll" version="1.1" targetFramework="net452" />
</packages>